@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@600&display=swap');

header{
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
}
.headingBanner{
    display: block;
    margin-top: 20px;
}
.leftSide{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 15%;
    float: left;
}
.rightSide{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
    float: right;
    position: static;
    left: 100%;
    margin-top: -35px;
}
.AboutLink{
    margin-left: 20px;
}
.StoreLink{
    margin-left: 15px;
}

.GmailLink{
    margin-left: 0px;
}
.ImagesLink{
    margin-left: 15px;
}
.ProductsLink{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    height: 25px;
    width: 25px;
    text-decoration: none;
    color: #5f6368
}
.ProductsLink:hover{
    background-color: rgba(60, 64, 67, 0.08);
    border-radius: 100px;
    display: inline-block;
}


.AccountsLink{
    margin-left: 15px;
}

.mainSearchArea{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-250px);
}

.googleImage{
    transform: translateX(110px);
}

.searchButtons{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    
}
.searchbutton{
    border-radius: 5px;
    background-color: rgba(211, 205, 205, 0.178);
    border-color:rgba(190, 176, 176, 0);
    width: 125px;
    height: 35px;
}
.searchbutton:hover
{
    box-shadow:1px 1px 2px -1px;
    border-color: rgba(129, 129, 129, 0.377);
}
#searchbutton{
    margin-right: 15px;
}
#luckybutton{
    margin-left: 15px;
}

.searchBox{
    border-radius: 25px;
    min-width: 500px;
    height: 25px;
    transform: translateX(-5%);
    border-color: rgb(134, 127, 127);
    margin-top: 15px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(129, 129, 129, 0.377);
}
.locationFooter
{
    display: flex;
    margin-bottom: 0px;
}
.mainFooter{
    margin-bottom: 30px;
}
.leftSideFooter{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 30%;
    float: left;
}
.rightSideFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    float: right;
}

a{
    text-decoration: none;
    color: rgb(70, 68, 68);
}
a:hover
{
    text-decoration: underline;
}

p{
    font-size: 14px;
    color: rgb(70, 68, 68);
    font-family: 'Poppins', Poppins;
}
header{
    font-family: 'Poppins' Poppins;
}
body{
    font-family: 'Poppins' Poppins;
}
footer{
    font-family: 'Poppins' Poppins;
}
